@charset "UTF-8";

/* TABLET */
@media screen and (min-width: 768px){
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login{
        width: 80vw;
        height: 350px;
        display: flex;
    }

    #imagem{
        width: 40%;
        height: 100%;
    }

    #formulario{
        width: 60%;
    }
}

/* DESKTOP */
@media screen and (min-width: 992px){
    section#login{
        width: 950px;
    }

    #imagem{
        width: 50%;
    }

    #formulario{
        width: 50%;
    }

    #formulario h1{
        font-size: 2em;
    }

    #formulario p{
        font-size: 1.1em;
    }
}